<template name="armyBuilder">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style type="text/css" media="all">
    .unitsDiv {
      background-color: #f3f3f4;
      margin-top: 10px;
      height: 75vh;
      overflow-y: auto;
      margin-left: 15px !important;
    }

    .unitSelect {
      width: 200px;
      float: right;
    }

    .unitSelectDiv {
      margin: 10px;
      height: 30px;
    }

    ul {
      padding: 10px;
      margin: 0px;
      list-style-type: none;
    }

    body.dragging,
    body.dragging * {
      cursor: move !important;
    }

    .dragged {
      position: absolute;
      opacity: 0.5;
      z-index: 2000;
    }

    ol {
      padding: 0px;
      margin: 5px;
    }

    ol.example li.placeholder {
      position: relative;
      /** More li styles **/
    }

    ol.example li.placeholder:before {
      position: absolute;
      /** Define arrowhead **/
    }

    li.army {
      list-style-type: none;
      margin: 2px;
      height: auto;
      background-color: white
    }

    .unitRow {
      margin-top: 5px;
      margin-left: 5px;
    }

    .armyLi {
      margin-left: 10px
    }

    .armyHeader {
      margin-left: 10px;
      padding-top: 10px;
    }

    table {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    .statsHeader {
      display: inline-block;
      padding-right: 5px;
    }

    .statsHeaderHide {
      display: inline-block;
      padding-right: 5px;
    }

    .heroName {
      display: inline-block;
      margin-top: 10px;
      padding-right: 5px;
    }

    .armyOverview {
      background-color: #f3f3f4;
      height: 12vh;
      margin-top: 10px;
      margin-left: 15px;
    }

    .abilityOverview {
      background-color: #f3f3f4;
      height: 10vh;
      margin-top: 10px;
    }

    .abilityDiv {
      margin: 5px;
      background-color: white;
    }

    .noTableBorders,
    .noTableBorders tr,
    .noTableBorders th,
    .noTableBorders td {
      border: none;
      margin-top: 8px;
      margin-left: 5px;
    }

    hr {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
    }

    .borderDiv {
      border-style: solid;
      border-width: 1px;
      border-radius: 2px;
      margin: 5px;
      padding: 5px;
      page-break-inside: avoid;
    }

    .wholeArmyList {
      margin-top: 10px;
      margin-right: 15px !important;
      height: 88vh;
    }

    @media print {
      @media print {
        .printable {
          display: block;
        }

        .screen {
          display: none;
        }
      }

      /* .noBreak{
        page-break-inside: avoid;
      }
      .allegiance, .ignoreInPrint{
        display: none;
        overflow: hidden;
      }
      .armyOverview{
        display: none;
      }
      #wholeAbilityList {
        visibility: visible;
        overflow-x: hidden;
        page-break-before: always;
      }
      .wholeArmyList{
        visibility: visible;
        overflow-x: hidden;
        height: auto;
        overflow-y: none;
      }
      .statsHeaderHide{
        display: none;
      }
      .col-print-1 {width:8%;  float:left;}
      .col-print-2 {width:16%; float:left;}
      .col-print-3 {width:25%; float:left;}
      .col-print-4 {width:33%; float:left;}
      .col-print-5 {width:42%; float:left;}
      .col-print-6 {width:50%; float:left;}
      .col-print-7 {width:58%; float:left;}
      .col-print-8 {width:66%; float:left;}
      .col-print-9 {width:75%; float:left;}
      .col-print-10{width:83%; float:left;}
      .col-print-11{width:92%; float:left;}
      .col-print-12{width:100%; float:left;} */
    }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <div class="screen">
    <div class="row">
      <div class="col-lg-3" style="padding: 0px !important;">
        <div class="armyOverview">
          <div class="col-lg-6 col-print-6">
            <h4>Command Points: <span>{{army_CommandPoints}}</span></h4>
            <h4>Army Points: <span>{{army_MatchedPoints}}</span></h4>
            <h4>Ally Points: <span>{{army_AllyPoints}}</span></h4>
          </div>
          <div class="col-lg-6 col-print-6">
            <h4>Realm:
              <select id="realm">
                <option>None</option>
                <option>Life</option>
                <option>Beasts</option>
                <option>Metal</option>
                <option>Fire</option>
                <option>Death</option>
                <option>Shadow</option>
                <option>Light</option>
              </select>
            </h4>
            <h4>
              Alliegance: {{army_Alliegance}}
            </h4>
          </div>
        </div>
        <div class="unitsDiv ignoreInPrint" style="margin-left: 5px; margin-top:10px; ">
          <h4>
            Add Units <input id="keywordFilter" type="text">
          </h4>
          <div class="unitSelectDiv">
            Leaders
            <select id="leaders" disabled class="btn btn-warning unitSelect">
              <option id="leadersDefault" selected="true" disabled="disabled">Add Leader ({{possible_LeadersCount}})</option>
              {{#each possible_leaders}}
                <option value={{this._id}}>{{this.name}} ({{this.costPerUnit}})</option>
              {{/each}}
            </select>
          </div>
          <div class="unitSelectDiv">
            Units
            <select id="units" disabled class="btn btn-warning unitSelect">
              <option id="unitsDefault" selected="true" disabled="disabled">Add Units ({{possible_UnitsCount}})</option>
              {{#each possible_Units}}
                <option value={{this._id}}>{{this.name}} ({{this.costPerUnit}})</option>
              {{/each}}
            </select>
          </div>
          <div class="unitSelectDiv">
            Behemoths
            <select id="behemoths" disabled class="btn btn-warning unitSelect">
              <option id="behemothsDefault" selected="true" disabled="disabled">Add Behemoths ({{possible_BehemothsCount}})</option>
              {{#each possible_Behemoths}}
                <option value={{this._id}}>{{this.name}} ({{this.costPerUnit}})</option>
              {{/each}}
            </select>
          </div>
          <div class="unitSelectDiv">
            Warmachines
            <select id="warmachines" disabled class="btn btn-warning unitSelect">
              <option id="warmachinesDefault" selected="true" disabled="disabled">Add Artillery ({{possible_ArtilleryCount}})</option>
              {{#each possible_Artillery}}
                <option value={{this._id}}>{{this.name}} ({{this.costPerUnit}})</option>
              {{/each}}
            </select>
          </div>
          <div class="unitSelectDiv">
            Battalions
            <select id="battalions" disabled class="btn btn-warning unitSelect">
              <option id="battalionsDefault" selected="true" disabled="disabled">Add Battalions ({{possible_BattalionsCount}})</option>
              {{#each possible_Battalions}}
                <option value={{this._id}}>{{this.name}} ({{this.points}})</option>
              {{/each}}
            </select>
          </div>
          <div class="unitSelectDiv">
            Endless Spells
            <select id="endlessSpells" disabled class="btn btn-warning unitSelect">
              <option id="endlessSpellsDefault" selected="true" disabled="disabled">Add Endless Spell ({{possible_EndlessSpellsCount}})</option>
              {{#each possible_EndlessSpells}}
                <option value={{this._id}}>{{this.name}} ({{this.costPerUnit}})</option>
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-print-12" style="padding: 0px !important;">
        <div id="wholeArmyList" class="unitsDiv wholeArmyList">
          <h4 class="armyHeader">Leaders: ({{army_LeadersCount}})</h4>
          <ol id="leadersList" class="example">
            {{#each army_Leaders}}
              <li class="army ui-state-default borderDiv">
                <div class="row armyLi">
                  <div class="col-lg-6 col-print-6">
                    <p class="unitRow">
                      <h3 class="heroName">{{this.name}}</h3><a id={{this._id}} href="#" class="editUnit">Edit</a>
                    </p>
                  </div>
                  <div class="col-lg-3 col-print-3">
                    <p class="unitRow">
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-share-alt"></i>{{this.move}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-save"></i>{{this.save}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-flag"></i>{{this.leadership}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-heart"></i>{{this.wounds}}</h4>
                    </p>
                  </div>
                  <div class="col-lg-3 col-print-3">
                    <p class="unitRow pull-right">
                      <h4 class="statsHeader">General</h4><input id="generalCheckbox" type="checkbox" checked={{this.general}}>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-star"></i>{{this.costPerUnit}}</h4>
                      {{#if isNotUnique this}}
                        <h4 class="statsHeaderHide"><i id="copyLeader" class="glyphicon glyphicon-duplicate"></i></h4>
                      {{/if}}
                      <h4 class="statsHeaderHide"><i id="trashLeaderUnit" class="glyphicon glyphicon-trash"></i></h4>
                    </p>
                  </div>
                </div>
                <div class="row armyLi">
                  <div class="col-lg-8 col-print-8">
                    <p class="unitRow">
                      <table id="attackTable" class="table table-striped table-bordered">
                        <tr>
                          <th style="width:200px; text-align:center;">Attack Name</th>
                          <th style="width:100px; text-align:center;">Type</th>
                          <th style="width:60px; text-align:center;">Range</th>
                          <th style="width:60px; text-align:center;">Attacks</th>
                          <th style="width:60px; text-align:center;">To Hit</th>
                          <th style="width:60px; text-align:center;">To Wound</th>
                          <th style="width:60px; text-align:center;">Rend</th>
                          <th style="width:60px; text-align:center;">Damage</th>
                          <th style="width:100px; text-align:center;">Average Wounds (+4 Save)</th>
                        </tr>
                        {{#each this.attacks}}
                          <tr id="attackRow" align="center">
                            <td><strong>{{this.name}}</strong></td>
                            <td>{{this.type}}</td>
                            <td>{{this.range}}</td>
                            <td>{{this.numAttacks}}</td>
                            <td>{{this.toHit}}</td>
                            <td>{{this.toWound}}</td>
                            <td>{{this.rend}}</td>
                            <td>{{this.damage}}</td>
                            <td>{{averageWounds this}}</td>
                          </tr>
                        {{/each}}
                      </table>
                    </p>
                    <div class="col-lg-4">
                      <p>{{canCast this}} {{canUnbind this}}</p>
                      {{#if spellsAvailable this.keywords}}
                        <p>
                          Spells:
                          <select id="spells" class="btn btn-light" style="margin-top: 5px">
                            <option id="spellsDefault" selected="true" disabled="disabled">Spells</option>
                            <option>None</option>
                            {{#each spells this.keywords}}
                              <option title={{this.text}} value={{this._id}}>{{this.name}}</option>
                            {{/each}}
                          </select>
                        </p>
                      {{/if}}
                    </div>
                    <div class="col-lg-8">
                      <ol id="spellsList" class="example" style="width: 50%;">
                        {{#each unitSpells this}}
                          <li class="army ui-state-default borderDiv">
                            <div class="row armyLi">
                              <div class="col-lg-9">
                                {{this.name}}
                              </div>
                              <div class="col-lg-3 pull-right">
                                {{#if this.added}}
                                  <h4 class="statsHeaderHide pull-right" style="margin:0px"><i id="trashSpell" style="font-size:12px" class="glyphicon glyphicon-trash"></i></h4>
                                {{/if}}
                              </div>
                            </div>
                          </li>
                        {{/each}}
                      </ol>
                    </div>
                  </div>
                  <div class="col-lg-4 col-print-4">
                    <p>
                      Artefact:
                      <select id="artefacts" class="btn btn-light" style="margin-top: 5px">
                        <option id="artefactsDefault" selected="true" disabled="disabled">Artefacts</option>
                        <option>None</option>
                        {{#each artefacts this.keywords}}
                          <option title={{this.text}} value={{this._id}}>{{this.name}}</option>
                        {{/each}}
                      </select>
                      <p id="artefactInfo">
                        {{this.artefact.text}}
                      </p>
                    </p>
                    {{#if unitIsGeneral this}}
                      <p>
                        Command Trait:
                        <select id="commandTrait" class="btn btn-light">
                          <option>None</option>
                          {{#each commandTrait this.keywords}}
                            <option title={{this.text}} value={{this._id}}>{{this.name}}</option>
                          {{/each}}
                        </select>
                        <p id="commandInfo">
                        </p>
                      </p>
                      {{#if fleshEater}}
                        <p>
                          Delusion:
                          <select id="delusionTrait" class="btn btn-light">
                            <option>None</option>
                            {{#each delusions this.keywords}}
                              <option title={{this.text}} value={{this._id}}>{{this.name}}</option>
                            {{/each}}
                          </select>
                          <p id="delusionInfo">
                          </p>
                        </p>
                      {{/if}}
                    {{/if}}
                  </div>
                </div>
                <div class="armyLi abilityDiv" id="unitAblility">
                  <h4 style="display:inline; padding-right: 5px">Ablilities</h4>
                  <i id="expandAbilities" class="glyphicon glyphicon-resize-full" style="cursor: pointer"></i>
                  <i id="collapseAbilities" class="glyphicon glyphicon-resize-small" style="cursor: pointer; display: none"></i>
                  <table id="unitAbility" class="row noTableBorders" style="display: none">
                    {{#each this.abilities}}
                      <tr>
                        <td style="width:200px">{{trim this.name}}</td>
                        <td style="width:85px">{{trim this.type}}</td>
                        <td style="width:1200px">{{{trim this.text}}}</td>
                      </tr>
                    {{/each}}
                  </table>
                </div>
              </li>
            {{/each}}
          </ol>
          <h4 class="armyHeader">Battleline: ({{army_BattlelineCount}})</h4>
          <ol id="unitsList" class="example">
            {{#each army_Battleline}}
              <li class="army ui-state-default borderDiv">
                <div class="row armyLi">
                  <div class="col-lg-6 col-print-6">
                    <p class="unitRow">
                      <h3 class="heroName">{{this.name}}</h3><a id={{this._id}} href="#" class="editUnit">Edit</a>
                    </p>
                  </div>
                  <div class="col-lg-3 col-print-3">
                    <p class="unitRow pull-right">
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-share-alt"></i>{{this.move}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-save"></i>{{this.save}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-flag"></i>{{this.leadership}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-heart"></i>{{this.wounds}}</h4>
                    </p>
                  </div>
                  <div class="col-lg-3 col-print-3">
                    <p class="unitRow pull-right">
                      {{#unless atMax this}}
                        <h4 class="statsHeader"><i id="plusUnit" class="glyphicon glyphicon-plus"></i></h4>
                      {{/unless}}
                      {{#unless atMin this}}
                        <h4 class="statsHeader"><i id="minusUnit" class="glyphicon glyphicon-minus"></i></h4>
                      {{/unless}}
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-user"></i>{{numModels this}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-star"></i>{{pointsCost this}}</h4>
                      {{#if isNotUnique this}}
                        <h4 class="statsHeader"><i id="copyUnit" class="glyphicon glyphicon-duplicate"></i></h4>
                      {{/if}}
                      <h4 class="statsHeader"><i id="trashUnitUnit" class="glyphicon glyphicon-trash"></i></h4>
                    </p>
                  </div>
                </div>
                <div class="row armyLi">
                  <p class="unitRow">
                    <table class="table table-striped table-bordered">
                      <tr>
                        <th style="width:200px; text-align:center;">Attack Name</th>
                        <th style="width:100px; text-align:center;">Type</th>
                        <th style="width:60px; text-align:center;">Range</th>
                        <th style="width:60px; text-align:center;">Attacks</th>
                        <th style="width:60px; text-align:center;">To Hit</th>
                        <th style="width:60px; text-align:center;">To Wound</th>
                        <th style="width:60px; text-align:center;">Rend</th>
                        <th style="width:60px; text-align:center;">Damage</th>
                        <th style="width:100px; text-align:center;">Average Wounds (+4 Save)</th>
                      </tr>
                      {{#each this.attacks}}
                        <tr id="attackRow" align="center">
                          <td><strong>{{this.name}}</strong></td>
                          <td>{{this.type}}</td>
                          <td>{{this.range}}</td>
                          <td>{{this.numAttacks}}</td>
                          <td>{{this.toHit}}</td>
                          <td>{{this.toWound}}</td>
                          <td>{{this.rend}}</td>
                          <td>{{this.damage}}</td>
                          <td>{{averageWounds this}}</td>
                        </tr>
                      {{/each}}
                    </table>
                  </p>
                </div>
                <div class="armyLi abilityDiv" id="unitAblility">
                  <h4 style="display:inline; padding-right: 5px">Ablilities</h4>
                  <i id="expandAbilities" class="glyphicon glyphicon-resize-full" style="cursor: pointer"></i>
                  <i id="collapseAbilities" class="glyphicon glyphicon-resize-small" style="cursor: pointer; display: none"></i>
                  <table id="unitAbility" class="row noTableBorders" style="display: none">
                    {{#each this.abilities}}
                      <tr>
                        <td style="width:200px">{{trim this.name}}</td>
                        <td style="width:85px">{{trim this.type}}</td>
                        <td style="width:1200px">{{{trim this.text}}}</td>
                      </tr>
                    {{/each}}
                  </table>
                </div>
              </li>
            {{/each}}
          </ol>
          <h4 class="armyHeader">Other Units: Artillery({{army_ArtilleryCount}}) Behemoths({{army_BehemothCount}})</h4>
          <ol id="otherUnitsList" class="example">
            {{#each army_OtherUnits}}
              <li class="army ui-state-default borderDiv">
                <div class="row armyLi">
                  <div class="col-lg-6 col-print-6">
                    <p class="unitRow">
                      <h3 class="heroName">{{this.name}}</h3><a id={{this._id}} href="#" class="editUnit">Edit</a>
                    </p>
                  </div>
                  <div class="col-lg-3 col-print-3">
                    <p class="unitRow">
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-share-alt"></i>{{this.move}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-save"></i>{{this.save}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-flag"></i>{{this.leadership}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-heart"></i>{{this.wounds}}</h4>
                    </p>
                  </div>
                  <div class="col-lg-3 col-print-3">
                    <p class="unitRow">
                      {{#unless atMax this}}
                        <h4 class="statsHeader"><i id="plusUnit" class="glyphicon glyphicon-plus"></i></h4>
                      {{/unless}}
                      {{#unless atMin this}}
                        <h4 class="statsHeader"><i id="minusUnit" class="glyphicon glyphicon-minus"></i></h4>
                      {{/unless}}
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-user"></i>{{numModels this}}</h4>
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-star"></i>{{pointsCost this}}</h4>
                      {{#if isNotUnique this}}
                        <h4 class="statsHeader"><i id="copyUnit" class="glyphicon glyphicon-duplicate"></i></h4>
                      {{/if}}
                      <h4 class="statsHeader"><i id="trashUnitUnit" class="glyphicon glyphicon-trash"></i></h4>
                    </p>
                  </div>
                </div>
                <div class="row armyLi">
                  <p class="unitRow">
                    <table class="table table-striped table-bordered">
                      <tr>
                        <th style="width:200px; text-align:center;">Attack Name</th>
                        <th style="width:100px; text-align:center;">Type</th>
                        <th style="width:60px; text-align:center;">Range</th>
                        <th style="width:60px; text-align:center;">Attacks</th>
                        <th style="width:60px; text-align:center;">To Hit</th>
                        <th style="width:60px; text-align:center;">To Wound</th>
                        <th style="width:60px; text-align:center;">Rend</th>
                        <th style="width:60px; text-align:center;">Damage</th>
                        <th style="width:100px; text-align:center;"><small>Average Wounds (+4 Save)</small></th>
                      </tr>
                      {{#each this.attacks}}
                        <tr id="attackRow" align="center">
                          <td><strong>{{this.name}}</strong></td>
                          <td>{{this.type}}</td>
                          <td>{{this.range}}</td>
                          <td>{{this.numAttacks}}</td>
                          <td>{{this.toHit}}</td>
                          <td>{{this.toWound}}</td>
                          <td>{{this.rend}}</td>
                          <td>{{this.damage}}</td>
                          <td>{{averageWounds this}}</td>
                        </tr>
                      {{/each}}
                    </table>
                  </p>
                </div>
                <div class="armyLi abilityDiv" id="unitAblility">
                  <h4 style="display:inline; padding-right: 5px">Ablilities</h4>
                  <i id="expandAbilities" class="glyphicon glyphicon-resize-full" style="cursor: pointer"></i>
                  <i id="collapseAbilities" class="glyphicon glyphicon-resize-small" style="cursor: pointer; display: none"></i>
                  <table id="unitAbility" class="row noTableBorders" style="display: none">
                    {{#each this.abilities}}
                      <tr>
                        <td style="width:200px">{{trim this.name}}</td>
                        <td style="width:85px">{{trim this.type}}</td>
                        <td style="width:1200px">{{{trim this.text}}}</td>
                      </tr>
                    {{/each}}
                  </table>
                </div>
              </li>
            {{/each}}
          </ol>
          <h4 class="armyHeader">Battalions: </h4>
          <ol id="battalionsList" class="example">
            {{#each army_Battalions}}
              <li class="army ui-state-default borderDiv">
                <div class="row armyLi">
                  <div class="col-lg-6 col-print-6">
                    <p class="unitRow">
                      <h3 class="heroName">{{this.name}}</h3><a id={{this._id}} href="#" class="editUnit">Edit</a>
                      {{#each unitsRequiredBattalions}}
                        {{{this}}}
                      {{/each}}
                    </p>
                  </div>
                  <div class="col-lg-3 col-print-3">
                    <p class="unitRow pull-right">
                      {{#each this.abilities}}
                        <strong>{{this.name}}:</strong> {{this.text}}<br />
                      {{/each}}
                    </p>
                  </div>
                  <div class="col-lg-3 col-print-3">
                    <p class="unitRow pull-right">
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-star"></i>{{this.points}}</h4>
                      <h4 class="statsHeader"><i id="trashBattalions" class="glyphicon glyphicon-trash"></i></h4>
                    </p>
                  </div>
                </div>
              </li>
            {{/each}}
          </ol>
          <h4 class="armyHeader">Endless Spells: </h4>
          <ol id="otherUnitsList" class="example">
            {{#each army_EndlessSpells}}
              <li class="army ui-state-default borderDiv">
                <div class="row armyLi">
                  <div class="col-lg-3 col-print-3">
                    <p class="unitRow">
                      <h3 class="heroName">{{this.name}}</h3><a id={{this._id}} href="#" class="editUnit">Edit</a>
                    </p>
                  </div>
                  <div class="col-lg-6 col-print-6">
                    {{#each this.abilities}}
                      <strong>{{this.name}}:</strong> {{this.text}}<br />
                    {{/each}}
                  </div>
                  <div class="col-lg-3 col-print-3">
                    <p class="unitRow">
                      <h4 class="statsHeader"><i class="glyphicon glyphicon-star"></i>{{this.costPerUnit}}</h4>
                      <h4 class="statsHeader"><i id="trashEndlessSpells" class="glyphicon glyphicon-trash"></i></h4>
                    </p>
                  </div>
                </div>
              </li>
            {{/each}}
          </ol>
        </div>
      </div>
    </div>
    <div id="wholeAbilityList" class="abilityOverview" style="height: auto">
      {{#if getAbilities 'Persistant'}}
        <div class="borderDiv">
          <h3>Persistant</h3>
          <hr>
          <div class="abilityDiv">
            <table id="persistantTable" class="row noTableBorders">
              {{#each getAbilities 'Persistant'}}
                <tr class="noBreak">
                  <td style="width:150px">{{trim this.unitName}}</td>
                  <td style="width:150px">{{trim this.name}}</td>
                  <td style="width:85px">{{trim this.type}}</td>
                  <td style="width:1200px">{{{trim this.text}}}</td>
                  <td style="padding-left: 10px;">{{trim this.when}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}
      {{#if getAbilities 'Setup'}}
        <div class="borderDiv">
          <h3>Setup</h3>
          <hr>
          <div class="abilityDiv">
            <table class="row noTableBorders">
              {{#each getAbilities 'Setup'}}
                <tr>
                  <td style="width:150px">{{trim this.unitName}}</td>
                  <td style="width:150px">{{trim this.name}}</td>
                  <td style="width:85px">{{trim this.type}}</td>
                  <td style="width:1200px">{{{trim this.text}}}</td>
                  <td style="padding-left: 10px;">{{trim this.when}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}
      {{#if getAbilities 'Hero'}}
        <div class="borderDiv">
          <h3>Hero</h3>
          <hr>
          <div class="abilityDiv">
            <table class="row noTableBorders">
              {{#each getAbilities 'Hero'}}
                <tr>
                  <td style="width:150px">{{trim this.unitName}}</td>
                  <td style="width:150px">{{trim this.name}}</td>
                  <td style="width:85px">{{trim this.type}}</td>
                  <td style="width:1200px">{{{trim this.text}}}</td>
                  <td style="padding-left: 10px;">{{trim this.when}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}
      {{#if getAbilities 'Movement'}}
        <div class="borderDiv">
          <h3>Movement</h3>
          <hr>
          <div class="abilityDiv">
            <table class="row noTableBorders">
              {{#each getAbilities 'Movement'}}
                <tr>
                  <td style="width:150px">{{trim this.unitName}}</td>
                  <td style="width:150px">{{trim this.name}}</td>
                  <td style="width:85px">{{trim this.type}}</td>
                  <td style="width:1200px">{{{trim this.text}}}</td>
                  <td style="padding-left: 10px;">{{trim this.when}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}
      {{#if getAbilities 'Shooting'}}
        <div class="borderDiv">
          <h3>Shooting</h3>
          <hr>
          <div class="abilityDiv">
            <table class="row noTableBorders">
              {{#each getAbilities 'Shooting'}}
                <tr>
                  <td style="width:150px">{{trim this.unitName}}</td>
                  <td style="width:150px">{{trim this.name}}</td>
                  <td style="width:85px">{{trim this.type}}</td>
                  <td style="width:1200px">{{{trim this.text}}}</td>
                  <td style="padding-left: 10px;">{{trim this.when}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}
      {{#if getAbilities 'Charge'}}
        <div class="borderDiv">
          <h3>Charge</h3>
          <hr>
          <div class="abilityDiv">
            <table class="row noTableBorders">
              {{#each getAbilities 'Charge'}}
                <tr>
                  <td style="width:150px">{{trim this.unitName}}</td>
                  <td style="width:150px">{{trim this.name}}</td>
                  <td style="width:85px">{{trim this.type}}</td>
                  <td style="width:1200px">{{{trim this.text}}}</td>
                  <td style="padding-left: 10px;">{{trim this.when}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}
      {{#if getAbilities 'Combat'}}
        <div class="borderDiv">
          <h3>Combat</h3>
          <hr>
          <div class="abilityDiv">
            <table class="row noTableBorders">
              {{#each getAbilities 'Combat'}}
                <tr>
                  <td style="width:150px">{{trim this.unitName}}</td>
                  <td style="width:150px">{{trim this.name}}</td>
                  <td style="width:85px">{{trim this.type}}</td>
                  <td style="width:1200px">{{{trim this.text}}}</td>
                  <td style="padding-left: 10px;">{{trim this.when}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}
      {{#if getAbilities 'Battleshock'}}
        <div class="borderDiv">
          <h3>Battleshock</h3>
          <hr>
          <div class="abilityDiv">
            <table class="row noTableBorders">
              {{#each getAbilities 'Battleshock'}}
                <tr>
                  <td style="width:150px">{{trim this.unitName}}</td>
                  <td style="width:150px">{{trim this.name}}</td>
                  <td style="width:85px">{{trim this.type}}</td>
                  <td style="width:1200px">{{{trim this.text}}}</td>
                  <td style="padding-left: 10px;">{{trim this.when}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}
      {{#if getAbilities 'Other'}}
        <div class="borderDiv">
          <h3>Other</h3>
          <hr>
          <div class="abilityDiv">
            <table class="row noTableBorders">
              {{#each getAbilities 'Other'}}
                <tr>
                  <td style="width:150px">{{trim this.unitName}}</td>
                  <td style="width:150px">{{trim this.name}}</td>
                  <td style="width:85px">{{trim this.type}}</td>
                  <td style="width:1200px">{{{trim this.text}}}</td>
                  <td style="padding-left: 10px;">{{trim this.when}}</td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</template>