<template name="damageCalc">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .modal-xlg {
      width: 70%;
      max-width: 1200px;
    }

    .phaseButtons {
      width: auto;
      display: inline;
    }
  </style>
  <div class="modal fade">
    <div class="modal-dialog modal-xlg">
      <div class="modal-content">
        <div class="modal-body" align="center" id={{this.name}}>
          <div class="col-lg-12" style="margin-top: 5px;">
            <table class="table table-bordered table-striped" style="margin-bottom: 10px">
              <thead>
                <tr>
                  <th style="width:20%; text-align:center;">Attack Name</th>
                  <th style="width:10%; text-align:center;">Type</th>
                  <th style="width:10%; text-align:center;">Range</th>
                  <th style="width:10%; text-align:center;">Attacks</th>
                  <th style="width:10%; text-align:center;">To Hit</th>
                  <th style="width:10%; text-align:center;">To Wound</th>
                  <th style="width:10%; text-align:center;">Rend</th>
                  <th style="width:10%; text-align:center;">Damage</th>
                  <th style="width:10%; text-align:center;">Average Wounds</th>
                </tr>
              </thead>
              <tbody>
                <tr align="center">
                  <td><strong>{{this.name}}</strong></td>
                  <td>{{this.type}}</td>
                  <td>{{this.range}}</td>
                  <td>{{this.numAttacks}}</td>
                  <td>{{this.toHit}}</td>
                  <td>{{this.toWound}}</td>
                  <td>{{this.rend}}</td>
                  <td>{{this.damage}}</td>
                  <td>{{averageWounds}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-12" id="attackDamageRow">
            +Attacks:<input id="plusAttacks" style="width: 60px; text-align:center;">
            +Hit:<input id="plusHit" style="width: 60px; text-align:center;">
            +Wound:<input id="plusWound" style="width: 60px; text-align:center;">
            +Rend:<input id="plusRend" style="width: 60px; text-align:center;">
            +Damage:<input id="plusDamage" style="width: 60px; text-align:center;">
          </div>
          <div class="col-lg-12" id="attackDamageRow2">
            Re Roll Hits:<input id="rrHits" style="width: 60px; text-align:center;">
            Re Roll Wounds:<input id="rrWounds" style="width: 60px; text-align:center;">
            Exploding Hits: <input id="explodingHitsPlus" type="checkbox">+<input id="explodingHits" style="width: 60px; text-align:center;">
            Exploding Wounds: <input id="explodingWoundsPlus" type="checkbox">+<input id="explodingWounds" style="width: 60px; text-align:center;">
            Mortal Wounds: <input id="mortalWoundsPlus" type="checkbox">+<input id="mortalWounds" style="width: 60px; text-align:center;">
            Mortal Wounds Only: <input id="mortalWoundsPlusOnly" type="checkbox">+<input id="mortalWoundsOnly" style="width: 60px; text-align:center;">
          </div>
          <div class="col-lg-12">
            <span>
              <h2 id="damageOutput"></h2>
            </span>
          </div>
          <input id="calcDamage" type="button" class="form-control btn btn-warning" style="border-radius: 3px important!; color: white; width: 100px;" value="Calculate" />
        </div>
      </div>
    </div>
  </div>
</template>