<head>
  <title>AoS</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <style type="text/css" media="all">
    .allegiance {
      background-color: #f3f3f4;
      height: 10vh;
    }
    @media print {
      .allegiance{
        display: none;
      }
    }
  </style>
</head>

<body>
  {{> header}}
</body>

<template name="header">
  <div class="allegiance">
    <div>
      <input id="newUnit" type="button" class="form-control btn btn-warning" style="border-radius: 3px important!; color: white; width: 100px;" value="New Unit"/>
    </div>
    <div>
      Grand Alliance
      <select id="alliance">
        <option {{allianceSelected "Chaos"}}>Chaos</option>
        <option {{allianceSelected "Death"}}>Death</option>
        <option {{allianceSelected "Destruction"}}>Destruction</option>
        <option {{allianceSelected "Order"}}>Order</option>
      </select>
    </div>
    <div>
      Allegiance
      <select id="armyAlliegance">
        {{#each allegiance}}
          <option {{armyAllieganceSelected}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div>
      Add Units
      <select id="unitAlliegance">
        {{#each allegiance}}
          <option {{unitAllieganceSelected}}>{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  {{> armyBuilder unitAlliegance}}
  {{> Template.dynamic template=extra}}
</template>
