<template name="newUnitModal">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <style>
    .modal-xlg {
      width: 90%;
      max-width:1600px;
    }
    .phaseButtons{
      width: auto;
      display:inline;
    }
  </style>
  <div class="modal fade">
    <div class="modal-dialog modal-xlg">
      <div class="modal-content">
        <div class="modal-header">
          <h3>New Unit</h3>
        </div>
        <div class="modal-body" align="center">
          <form role="form" id="new-role" class="new-role">
            <div class="pull-left">
              <div class="col-lg-6">
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Name</label>
                  <input id="name" type="text" name="name" class="form-control required" required value={{this.name}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Allegiance</label>
                  <input id="allegiance" type="text" name="allegiance" class="form-control required" required value={{this.allegiance}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Points Cost</label>
                  <input id="costPerUnit" type="number" name="costPerUnit" class="form-control required" required value={{this.costPerUnit}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Min Models Per Unit</label>
                  <input id="minModelsPerUnit" type="number" name="minModelsPerUnit" class="form-control required" required value={{this.minModelsPerUnit}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Max Models Per Unit</label>
                  <input id="maxModelsPerUnit" type="number" name="maxModelsPerUnit" class="form-control required" required value={{this.maxModelsPerUnit}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Models Per Kit</label>
                  <input id="modelsPerKit" type="number" name="modelsPerKit" class="form-control" value={{this.modelsPerKit}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Max Unit Discount</label>
                  <input id="maxModelsDiscount" type="number" name="maxModelsDiscount" class="form-control" value={{this.maxUnitSizeCost}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Move</label>
                  <input id="move" type="text" name="move" class="form-control required" required value={{this.move}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Save</label>
                  <input id="save" type="number" name="save" class="form-control required" required value={{this.save}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Leadership</label>
                  <input id="leadership" type="number" name="leadership" class="form-control required" required value={{this.leadership}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Wounds</label>
                  <input id="wounds" type="number" name="wounds" class="form-control required" required value={{this.wounds}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Price</label>
                  <input id="price" type="number" name="price" class="form-control" value={{this.price}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Can Cast</label>
                  <input id="canCast" type="number" name="canCast" class="form-control" value={{this.canCast}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Can Unbind</label>
                  <input id="canUnbind" type="number" name="canUnbind" class="form-control" value={{this.canUnbind}}>
                </div>
                <div class="col-lg-12 form-group">
                  <label class="pull-left">Role</label>
                  <input id="role" type="text" name="role" class="form-control" value={{this.role}}>
                </div>
                <div class="col-lg-6 form-group">
                  <label class="pull-left">Keywords</label>
                  <input id="keywords" type="text" name="keyword" class="form-control pull-left" style="width: 300px">
                  <input id="addKeyword" type="button" class="btn btn-sm btn-primary pull-right m-t-n-xs marginLeft5" value="Add">
                </div>
                <div class="col-lg-6 form-group">
                  <span class="col-lg-12 mcleodCode-box" style="height: 200px;">
                    {{#each keywords}}
                      <li style="list-style-type: none;">
                        {{this}} <i id={{this}} class="deleteKeyword glyphicon glyphicon-remove" style="float: right; color: red;"></i>
                      </li>
                    {{/each}}
                  </span>
                </div>
                <div class="col-lg-12 form-group">
                  <label class="pull-left">Damage Table</label>
                  <input id="addRow" type="button" class="btn btn-sm btn-primary pull-right m-t-n-xs marginLeft5" value="Add Row">
                  <input id="addColumn" type="button" class="btn btn-sm btn-primary pull-right m-t-n-xs marginLeft5" value="Add Column">
                  <table id="damageTable" class="table table-bordered table-striped" style="margin-top: 5px;">
                    <tbody>
                      {{#if this.damageTable}}
                        {{#each this.damageTable}}
                          <tr align="center">
                            {{#each this}}
                              <td style="text-align: center;"><input type="text" class="form-control pull-left" value={{this}}></td>
                            {{/each}}
                          </tr>
                        {{/each}}
                      {{else}}
                        <tr align="center">
                          <td style="text-align: center;"><input type="text" class="form-control pull-left"></td>
                          <td style="text-align: center;"><input type="text" class="form-control pull-left"></td>
                          <td style="text-align: center;"><input type="text" class="form-control pull-left"></td>
                          <td style="text-align: center;"><input type="text" class="form-control pull-left"></td>
                        </tr>
                      {{/if}}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="col-lg-12" style="padding: 0px 5px 0px 5px;">
                    <label class="pull-left">Attacks</label><br />
                  </div>
                  <div class="col-lg-3" style="padding: 0px 5px 0px 5px;">
                    Name<input id="attackName" type="text" name="price" class="form-control" value={{attackAttribute 'name'}}>
                  </div>
                  <div class="col-lg-3" style="padding: 0px 5px 0px 5px;">
                    Type
                    <select id="attackType" style="height: 100%" class="form-control">
                      <option selected={{selectOption 'Melee'}}>Melee</option>
                      <option selected={{selectOption 'Ranged'}}>Ranged</option>
                    </select>
                  </div>
                  <div class="col-lg-3" style="padding: 0px 5px 0px 5px;">
                    Range<input id="attackRange" type="text" name="attackRange" class="form-control" value={{attackAttribute 'range'}}>
                  </div>
                  <div class="col-lg-3" style="padding: 0px 5px 0px 5px;">
                    Number of Attacks<input id="attackNum" type="text" name="attackNum" class="form-control" value={{attackAttribute 'numAttacks'}}>
                  </div>
                  <div class="col-lg-3" style="padding: 0px 5px 0px 5px;">
                    Hit<input id="attackHit" type="text" name="attackHit" class="form-control" value={{attackAttribute 'toHit'}}>
                  </div>
                  <div class="col-lg-3" style="padding: 0px 5px 0px 5px;">
                    Wound<input id="attackWound" type="text" name="attackWound" class="form-control" value={{attackAttribute 'toWound'}}>
                  </div>
                  <div class="col-lg-3" style="padding: 0px 5px 0px 5px;">
                    Rend<input id="attackRend" type="text" name="attackRend" class="form-control" value={{attackAttribute 'rend'}}>
                  </div>
                  <div class="col-lg-3" style="padding: 0px 5px 0px 5px;">
                    Damage<input id="attackDamage" type="text" name="attackDamage" class="form-control" value={{attackAttribute 'damage'}}>
                  </div>
                  <input id="addAttack" type="button" class="btn btn-sm btn-primary pull-left m-t-n-xs marginLeft5" style="margin: 5px 5px 0px 5px;" value="Add">
                </div>
                <div class="col-lg-12 form-group" style="padding: 0">
                  <table id="attackTable" class="table table-bordered table-striped" style="margin-top: 5px;">
                    <thead>
                      <tr align="center">
                        <th style="text-align: center; width: 35%">Name</th>
                        <th style="text-align: center;">Type</th>
                        <th style="text-align: center;">Range</th>
                        <th style="text-align: center;">Attacks</th>
                        <th style="text-align: center;">Hit</th>
                        <th style="text-align: center;">Wound</th>
                        <th style="text-align: center;">Rend</th>
                        <th style="text-align: center;">Damage</th>
                        <th style="text-align: center;">Average</th>
                        <th style="text-align: center; width: 10%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each attacks}}
                        <tr id={{this._id}} class="attackRow" align="center">{{{this.html}}}</tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-12" style="padding: 0px 5px 0px 5px;">
                  <label class="pull-left">Abilities</label><br />
                </div>
                <div class="col-lg-3" style="padding: 0px 5px 0px 5px;">
                  Name<input id="abilityName" type="text" name="name" class="form-control" value={{abilityAttribute 'name'}}>
                  Type
                  <select id="abilityType" style="height: 100%" class="form-control">
                    <option selected={{selectType 'Description'}}>Description</option>
                    <option selected={{selectType 'Command'}}>Command</option>
                    <option selected={{selectType 'Magic'}}>Magic</option>
                    <option selected={{selectType 'Ability'}}>Ability</option>
                  </select>
                </div>
                <div class="col-lg-9" style="padding: 0px 5px 0px 5px;">
                  Text<textarea rows="4" id="abilityText" name="text" class="form-control" value={{abilityAttribute 'text'}}></textarea>
                </div>
                <div class="col-lg-12" style="padding: 0px 5px 0px 5px; display:inline">
                  Phase<br />
                  <input id="abilityPhase" type="button" class="abilityPhase form-control phaseButtons btn btn-default" value="Continual" />
                  <input id="abilityPhase" type="button" class="abilityPhase form-control phaseButtons btn btn-default" value="Setup" />
                  <input id="abilityPhase" type="button" class="abilityPhase form-control phaseButtons btn btn-default" value="Hero" />
                  <input id="abilityPhase" type="button" class="abilityPhase form-control phaseButtons btn btn-default" value="Movement" />
                  <input id="abilityPhase" type="button" class="abilityPhase form-control phaseButtons btn btn-default" value="Shooting" />
                  <input id="abilityPhase" type="button" class="abilityPhase form-control phaseButtons btn btn-default" value="Charge" />
                  <input id="abilityPhase" type="button" class="abilityPhase form-control phaseButtons btn btn-default" value="Combat" />
                  <input id="abilityPhase" type="button" class="abilityPhase form-control phaseButtons btn btn-default" value="Battleshock" />
                  <input id="abilityPhase" type="button" class="abilityPhase form-control phaseButtons btn btn-default" value="Other" />
                </div>
                <input id="addAbility" type="button" class="btn btn-sm btn-primary pull-left m-t-n-xs marginLeft5" style="margin: 5px 5px 0px 5px;" value="Add">
                <div class="col-lg-12">
                  <span style="height: 200px; margin-top: 5px;">
                    {{#each abilities}}
                      <div id={{this._id}} style="margin-top: 5px;" class="abilityRow col-lg-12">
                        {{{this.html}}}
                      </div>
                    {{/each}}
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button id="saveUnit" class="btn btn-sm btn-primary pull-right m-t-n-xs marginLeft5 submitRole" type="submit"><strong>Save</strong></button>
              {{#if canDelete}}
                <button class="btn btn-sm btn-primary pull-right m-t-n-xs deleteRole"><strong>Delete</strong></button>
              {{/if}}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>