<template name="warScroll">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    .modal-custom {
      width: 8.5in;
      max-width: 8.5in;
    }

    .phaseButtons {
      width: auto;
      display: inline;
    }
    @media print{
      body * {
        visibility:hidden;
      }
      #printSection, #printSection * {
        visibility:visible;
      }
      #printSection {
        position:absolute;
        left:0;
        top:0;
      }
    }
  </style>
  <div class="modal fade">
    <div class="modal-dialog modal-custom">
      <div class="modal-content">
        <div class="modal-body" align="center" id={{this.name}}>
          <div class="col-lg-12">
            <h2>
              {{this.name}}
            </h2>
            <table class="table table-bordered table-striped" style="margin-bottom: 10px; width: 30%; float: left">
              <tbody>
                <tr>
                  <td style="width: 25%; font-size: 12px;"><strong>Move: </strong></td>
                  <td style="width: 25%; font-size: 16px; text-align: center;"><strong>{{this.move}}</strong></td>
                  <td style="width: 25%; font-size: 12px;"><strong>Save: </strong></td>
                  <td style="width: 25%; font-size: 16px; text-align: center;"><strong>{{this.save}}+</strong></td>
                </tr>
                <tr>
                  <td style="width: 25%; font-size: 12px;"><strong>Bravery: </strong></td>
                  <td style="width: 25%; font-size: 16px; text-align: center;"><strong>{{this.leadership}}</strong></td>
                  <td style="width: 25%; font-size: 12px;"><strong>Wounds: </strong></td>
                  <td style="width: 25%; font-size: 16px; text-align: center;"><strong>{{this.wounds}}</strong></td>
                </tr>
              </tbody>
            </table>
            <table class="table table-borderless" style="border: 0;margin-bottom: 10px; width: 69%; float: right">
              <tr>
                <td align="center">
                  <strong>Notes/Buffs:</strong>
                </td>
                <td style="width: 90%">
                </td>
              </tr>
            </table>
          </div>
          <div>
            <div class="col-lg-12" style="margin-top: 5px;">
              <table class="table table-bordered table-striped" style="margin-bottom: 10px">
                <thead>
                  <tr>
                    <th style="width:20%; text-align:center;">Attack Name</th>
                    <th style="width:10%; text-align:center;">Type</th>
                    <th style="width:10%; text-align:center;">Range</th>
                    <th style="width:10%; text-align:center;">Attacks</th>
                    <th style="width:10%; text-align:center;">To Hit</th>
                    <th style="width:10%; text-align:center;">To Wound</th>
                    <th style="width:10%; text-align:center;">Rend</th>
                    <th style="width:10%; text-align:center;">Damage</th>
                    <th style="width:10%; text-align:center;">Average Wounds</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.attacks}}
                    <tr align="center">
                      <td><strong>{{this.name}}</strong></td>
                      <td>{{this.type}}</td>
                      <td>{{this.range}}</td>
                      <td>{{this.numAttacks}}</td>
                      <td>{{this.toHit}}</td>
                      <td>{{this.toWound}}</td>
                      <td>{{this.rend}}</td>
                      <td>{{this.damage}}</td>
                      <td>{{averageWounds this}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <div class="col-lg-12" style="margin-top: 5px;">
              {{#if this.damageTable}}
                <table id="damageTable2" class="table table-bordered table-striped" style="margin-top: 0px;">
                  <tbody>
                    {{#each this.damageTable}}
                      {{#unless @index}}
                        <tr align="center">
                          {{#each this}}
                            <td style="text-align: center;"><strong>{{this}}</strong></td>
                          {{/each}}
                        </tr>
                      {{else}}
                        <tr align="center">
                          {{#each this}}
                            <td style="text-align: center;">{{this}}</td>
                          {{/each}}
                        </tr>
                      {{/unless}}
                    {{/each}}
                  </tbody>
                </table>
              {{/if}}
            </div>
          </div>
          <div>
            <div class="col-lg-12" style="margin-top: 5px;">
              <table class="table table-borderless table-striped" style="border: 0; margin-top: 0px;">
                <tbody>
                  {{#each this.abilities}}
                    <tr align="center">
                      <td style="width: 10%">{{this.name}}</td>
                      <td style="width: 10%">{{this.type}}</td>
                      <td style="width: 60%" align="left">{{this.text}}</td>
                      <td style="width: 20%">{{keywords this.phase}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <div class="col-lg-12" style="margin-top: 5px;">
              <table class="table table-bordered table-striped">
                <tr>
                  <td style="width: 150px;" align="center">
                    <strong>Keywords</strong>
                  </td>
                  <td align="left">
                    {{keywords this.keywords}}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <input id="print" type="button" class="form-control btn btn-warning" style="border-radius: 3px important!; color: white; width: 100px;" value="Print" />
        </div>
      </div>
    </div>
  </div>
</template>