.tradeShowPg{
  border: 1px solid #e3e3e3;
  box-shadow: 2px 2px #e3e3e3;
  .tradeShowContainer{
    margin-bottom:1%;
  }
}
.vertMid{
  vertical-align: middle;
}
.connecting{
  color: #f89406;
}
.connected{
  color: #51a351;
}
.waiting{
  color: #f89406;
}
.disconnected{
  color: #bd362f;
}
.toast-success{
  background-color: #51a351 !important;
}
.toast-info{
  background-color: #2f96b4 !important;
}
.toast-warning{
  background-color: #f89406 !important;
}
.toast-error{
  background-color: #bd362f !important;
}
#toast-container>.toast-info:before {
  content: "\f05a" !important;
}
.dashboard-container{
  padding: 0 0 0 0;
}
.dashboard-right{
  float: left;
  margin: 0 0 0 0;
  padding: 7px 7px 7px 0;
}
.dashboard-left{
  float: left;
  margin: 0 0 0 0;
  padding: 0px 0 7px 7px;
}
.dashboard-tile {
  float: left;
  margin: 0 0 0 0;
  padding: 7px 7px 7px 7px;
}
.vcenter-parentDiv{
  vertical-align: middle;
}
.vcenter-div {
  position: relative;
  display: flex;
  align-items: center;
}
.no-margins {
  margin: 0 !important;
}
.dayTime,
.dayTime a,
.dayTime a:hover {
  color: #FFFFFF !important;
  background-color: #1ab394 !important;
}
.weekTime,
.weekTime a,
.weekTime a:hover {
  color: #FFFFFF !important;
  background-color: #1c84c6 !important;
}
.selectedUser {
  color: #676a6c !important;
}
.curvedTitle {
  border-width: 0 !important;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.blueBorder {
  border-color: #1a86b3 !important;
}

.greenBorder {
  border-color: #1ab394 !important;
}
