<template name="nurgleSpecial">
  <style>
    .titheDiv{
      display:inline-block;
    }
    .borderDiv{
      border-style: solid;
      border-width: 1px;
      border-radius: 2px;
      margin: 5px;
      padding: 5px;
    }
    .textDiv{
      width: 40%;
      position: relative;
      float:left;
    }
    .tableDiv{
      width: 55%;
      position: relative;
      float:left;
    }
    @media print {
      .textDiv{
        width: 40%;
        position: relative;
        float:left;
      }
      .tableDiv{
        width: 55%;
        position: relative;
        float:left;
      }
    }
  </style>
  <div class="titheDiv">
    <div class="col-lg-6 pull-left">
      <div class="textDiv borderDiv">
        <h4>{{summonName}}</h4>
        {{#each summonText}}
          <p>
            {{this}}
          </p>
        {{/each}}
      </div>
      <div class="tableDiv borderDiv">
        <h4>{{summonTableName}}</h4>
        <table>
          <thead>
            <tr>
              <td>Points</td>
              <td>Reward</td>
            </tr>
          </thead>
          <tbody>
            {{#each summonTableEntry}}
            <tr>
              <td>{{this.points}}</td>
              <td>{{this.text}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-6 pull-right">
      <div class="textDiv borderDiv">
        <h4>{{corruptionTextName}}</h4>
        {{#each corruptionText}}
          <p>
            {{this}}
          </p>
        {{/each}}
      </div>
      <div class="tableDiv borderDiv">
        <h4>{{corruptionTableName}}</h4>
        <table>
          <thead>
            <tr>
              <td>Points</td>
              <td>Reward</td>
            </tr>
          </thead>
          <tbody>
            {{#each corruptionTableEntry}}
            <tr>
              <td>{{this.stage}}</td>
              <td>{{this.text}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
